.container {
  /* padding: 10px; */
  margin: 0 0 0 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container label,
input {
  width: 200px;
  margin: 0 10px 20px 5px;
  border-radius: 10px;
  border: none;
  border: 1px solid grey;
  padding: 10px;
  justify-self: center;
  display: inline-block;

}

button {
  padding: 10px;
  margin: 10px;
  width: 150px;
  background-color: green;
  color: white;
}
.error{
  color: red;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td{
  background-color: #1b1c1c23;
  text-align: left;
  padding: 5px;
}

.delete{
background-color: rgb(255, 55, 0);
color: white;
}