.container {
  /* padding: 10px; */
  margin: 0 0 0 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container label,
input {
  width: 200px;
  margin: 0 10px 20px 5px;
  border-radius: 10px;
  border: none;
  border: 1px solid grey;
  padding: 10px;
  justify-self: center;
  display: inline-block;

}
.Formcontainer{
  background-color: rgba(70, 69, 69, 0.237);
  width: 90%;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}
label{
  border: none;
}
button {
  padding: 10px;
  margin: 10px;
  width: 150px;
  border-radius: 10px;
  background-color: green;
  color: white;
}

.error {
  color: red;
}

/* table, */
table {
  border-collapse: collapse;
  width: 90%;
}

th,
td {
  width: 1200px;
  border: 1px solid black;

}

th,
td {
  background-color: #1b1c1c23;
  text-align: left;
  padding: 5px;
}

.delete {
  background-color: rgb(255, 55, 0);
  color: white;
}